<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Operations</title>
</head>
<body>
<div th:switch="${operation}">
    <h2 th:case="null">No operation found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Sum</th>
                <th>   Write_off</th>
                <th>    Write_on</th>
                <th>    Reason</th>
            </tr>
            </thead>
            <tbody>
                <td th:text="${operation.id}"></td>
                <td th:text="${operation.sum}"></td>
                <td th:text="${operation.write_off}"></td>
                <td th:text="${operation.write_on}"></td>
                <td th:text="${operation.reason}"></td>
            </tbody>
        </table>
    </div>
    <p><a href="/operations">Back</a></p>
</div>
</body>
</html>